<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/desing.css">
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <h1 class="mb-5 mt-5">Desing Trajes Sampedrinos</h1>

    <div class="row" style="display: flex; padding: 0 .5em; flex-wrap: wrap; gap: .5em;">
      <div class="col">
        <div class="card">
          <img src="/img/1.jpeg" width="500px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/7.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/8.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traje de SanJuanero</h5>
          </div>
        </div>
      </div>
    </div>
      <%- include('partials/footer') %>
</body>
</html>