<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/somos.css">
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Quiénes Somos</h1>
            <p class="d-flex justify-content-center"> 
                somos una comunidad apasionada de creadores, innovadores y soñadores que se unen para dar vida a ideas extraordinarias. 
                Fundada con la convicción de que el diseño trasciende las fronteras y enriquece todos los aspectos
                de nuestras vidas, en Design Monika nos esforzamos por impulsar la excelencia y la belleza en todo lo que hacemos.
                Nuestro equipo está compuesto por mentes curiosas provenientes de diversos campos del diseño
        </section>
    </main>
   
    <%- include('partials/footer') %>
</body>
</html>