<footer class="bg-dark text-center mt-4 p-2 d-flex justify-content-evenly align-items-center">
    <div class="hidden">
        <h1>Monika</h1>
    </div>
    <div>
        <img src="/img/D.png" alt="logo" class="rounded-circle mt-5" width="95px" height="90px">
    </div>
    <div class="hidden">
        <h3>3124846193</h3>
    </div>
</footer>

<style>
    @media (max-width: 600px) {
        .hidden{
            display: none;
        }
    }
</style>